.BookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    // display: flex;
    border: 1px solid red;
    width: 300px;
    height: 700px;

    .img-wrap {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .book-details {
        border: 1px solid #ddd;
        height: 200px;
    }
}