.Header {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .logo {
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .login-button {
        background-color: #4e54c8;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }

    .user-name {
        margin: unset;
        padding: 5px;
        // text-decoration: underline;
    }
}